html {
  display: grid;
  height: 100%;
}

body {
  place-self: center;
  text-align: center;
}

button {
  height: 6em;
  width: 6em;
  margin: .6em;
  border-radius: 6em;
  transition: all .5s, opacity .5s 1s;
  border: 3px solid #fff;
  color: transparent;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #000;
}

button::-moz-focus-inner {
  border: none;
}

button:after {
  display: inline;
  content: 'Correct!';
}

button:disabled {
  outline: none;
  box-shadow: 0 0 0 3px #000;
  opacity: 0;
}

button:disabled:after {
  content: 'Wrong!';
}
