html {
  display: grid;
  height: 100%;
}

body {
  place-self: center;
  text-align: center;
  line-height: 1.4;
  font-family: sans-serif;
}

button {
  height: 6em;
  width: 6em;
  margin: 9px;
  border-radius: 6em;
  transition: all .5s, opacity .5s 1s;
  border: 3px solid #fff;
  padding: 0;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #000;
}

button::-moz-focus-inner {
  border: none;
}

button:disabled {
  outline: none;
  box-shadow: 0 0 0 3px #000;
  opacity: 0;
}
